<div class="nav">
  <div class="ui grid">
    <div class="four wide column"></div>

    <div class="eight wide column">
      <a href="/posts"><h1><!--2013 全國高中生政策創意競賽--> <%= site.title %></h1></a>
      <p><%= site.description %></p>
<!--
      <div class="ui menu">
        <a href="" class="item">首頁</a>
        <a href="" class="item">最新消息</a>
        <a href="" class="item">世界咖啡館</a>
        <a href="" class="item">報名</a>
        <a href="" class="item">粉絲專頁</a>
      </div>
-->
    </div>

  </div>
</div>
